<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>neutronMail</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        <div class="page-main">
            <header>
                <div class="header">
                    <a class="header__logo" href="">neutron<span>Mail</span></a>
                    <nav>
                        <ul class="header-list">
                            <li class="header-list__item"><a class="header-list__link" href="">About</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Security</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Blog</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Careers</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Support</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">Donate</a></li>
                        </ul>
                        <ul class="header-list header-list_btn">
                            <li class="header-list__item header-list__item_btn_log-in"><button class="header-list__btn_log-in"><i class="fas fa-sign-in-alt"></i>Log in</button></li>
                            <li class="header-list__item header-list__item_btn_sign-up"><button class="header-list__btn_sign-up">Sign up</button></li>
                        </ul>
                    </nav>
                    <ul class="header-language-list">
                        <li class="header-language-list__item"><a class="header-language-list__link header-language-list__link_active" href="">English</a></li>
                        <li class="header-language-list__item"><a class="header-language-list__link" href="">French</a></li>
                        <li class="header-language-list__item"><a class="header-language-list__link" href="">Italian</a></li>
                        <li class="header-language-list__item"><a class="header-language-list__link" href="">Polish</a></li>
                    </ul>
                </div>
            </header>
            <div class="wrapper-main">
                <h1 class="page-main__title">Secure Email Communication</h1>
                <h3 class="page-main__clarification">Based in <span>Somewhere</span></h2>
                <ul class="block-button">
                    <li class="block-button__item block-button__item_btn_create"><button class="block-button__btn">Create account</button></li>
                    <li class="block-button__item block-button__item_link_apple"><a class="block-button__link-cicle" href=""><i class="fab fa-apple"></i></a></li>
                    <li class="block-button__item block-button__item_link_play"><a class="block-button__link-cicle" href=""><i class="fas fa-play"></i></a></li>
                </ul>
            </div>
            <ul class="page-main-social">
                <li class="page-main-social__item"><a class="page-main-social__link" href=""><i class="fab fa-google-plus-square"></i></a></li>
                <li class="page-main-social__item"><a class="page-main-social__link" href=""><i class="fab fa-facebook-square"></i></a></li>
                <li class="page-main-social__item"><a class="page-main-social__link" href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
        <div class="page-security">
            <div class="wrapper">
                <div class="page-security_flex">
                    <div class="page-security-item">
                        <img class="page-security-item__img" src="../img/security1.png" alt="Swiss Privacy">
                        <h2 class="page-security-item__subtitle">Swiss Privacy<span>Data Security and Neutrality</span></h2>
                        <p class="page-security-item__description">NeutronMail is incorporated in Somewhere and all our servers are located in Switzerland. This means all user data is protected by strict Swiss privacy laws.</p>    
                    </div>
                    <div class="page-security-item">
                        <img class="page-security-item__img" src="../img/security2.png" alt="Double Encryption">
                        <h2 class="page-security-item__subtitle">Double Encryption<span>Automatic Email Security</span></h2>
                        <p class="page-security-item__description">All emails are secured automatically with end-to-end encryption. This means even we cannot decrypt and read your emails. As a result, your encrypted emails cannot be shared with third parties.</p>    
                    </div> 
                    <div class="page-security-item">
                        <img class="page-security-item__img" src="../img/security3.png" alt="Anonymous Email">
                        <h2 class="page-security-item__subtitle">Anonymous Email<span>Protect Your Privacy</span></h2>
                        <p class="page-security-item__description">No personal information is required to create your secure email account. By default, we do not keep any IP logs which can be linked to your anonymous email account. Your privacy comes first.</p>    
                    </div>
                    <div>
                        <h2 class="page-security__title">Physical Security</h2>
                        <p class="page-security__description">NeutronMail's infrastructure resides in Europe's <span>most secure</span> datacenter, underneath 1000 meters of solid rock.</p>
                    </div>
                </div>
                <div class="page-security__line_vertical_one"></div>
                <div class="page-security__line_vertical_two"></div>
                <div class="page-security__line_horizontal_one"></div>
                <a class="" href="">Learn more about our security features</a>
            </div>
        </div>
        <div class="block-project">
            <div class="block-project__item block-project__item_one"></div>
            <div class="block-project__item block-project__item_two"></div>
            <div class="block-project__item block-project__item_three"></div>
            <div class="block-project__item block-project__item_four"></div>
            <div class="block-project__item block-project__item_five"></div>
            <div class="block-project__item block-project__item_six"></div>
        </div>
        <div class="page">
            <div class="wrapper">
                <div class="block-reviews">
                    <div class="block-reviews__marker"></div>
                    <div class="block-reviews__text"><p>A new email service being developed by a group from MIT and CERN promises to bring secure, encrypted email to the masses and keep sensitive information away from prying eyes.<span>— Boston Herald</span></p></div>
                </div>    
                <div class="block-device">
                    <div class="block-device_width_433">
                        <h3 class="block-device__title">Any device, anywhere</h3>
                        <p class="block-device__description">The NeutronMail inbox is optimized for productivity. Each detail within our secure email service is optimized to help you better read, organize, and send email.</p>
                        <a class="block-device__download" href=""><img src="../img/appstore.png" alt="App Store"></a>
                        <a class="block-device__download" href=""><img src="../img/googleplay.png" alt="Google Play"></a>
                    </div>
                    <img class="block-device__img" src="../img/devices.png" alt="Devices">
                    <div class="block-device__line_horizontal"></div>
                </div>
                <div class="block-privacy">
                    <h3 class="block-privacy__title">Privacy is a fundamental human right.<span>Your support helps us to protect privacy world-wide.</span></h3>
                    <button class="block-privacy__btn">Upgrade to Paid Plan</button>
                    <button class="block-privacy__btn block-privacy__btn_blue">Donate</button>
                </div> 
                <div class="block-partners">
                    <p class="block-partners__text"></p>
                    <div class="block-partners-list">
                        <div class="block-partners-list__item block-partners-list__item_one"></div>
                        <div class="block-partners-list__item block-partners-list__item_two"></div>
                        <div class="block-partners-list__item block-partners-list__item_three"></div>
                        <div class="block-partners-list__item block-partners-list__item_four"></div>
                        <div class="block-partners-list__item block-partners-list__item_five"></div>
                        <div class="block-partners-list__item block-partners-list__item_six"></div>
                    </div>   
                </div>

            </div>
        </div>
        <div class="footer">
            <ul class="footer-list footer-list_contacts">
                <li class="footer-list__item">General: <a class="footer-list__link" href="mailto:contact@neutronmail.ch">contact@neutronmail.ch</a></li>
                <li class="footer-list__item">Media: <a class="footer-list__link" href="mailto:media@neutronmail.ch">media@neutronmail.ch</a></li>
                <li class="footer-list__item">Security: <a class="footer-list__link" href="mailto:security@neutronmail.ch">security@neutronmail.ch</a></li>
                <li class="footer-list__item footer-list__item_mergintop">For support inquiries, please visit</li>
                <li class="footer-list__item"><a class="footer-list__link" href="neutronmail.com/support">neutronmail.com/support</a></li>
            </ul>
            <ul class="footer-list footer-list_company">
                <li class="footer-list__item footer-list__item_subtitle">Company</li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Blog  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Team  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Careers  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Support  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Donate  •</a></li>
            </ul>
            <ul class="footer-list footer-list_legal">
                <li class="footer-list__item footer-list__item_subtitle">Legal</li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Imprint  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Privacy Policy  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Terms & Conditions  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Transparency Report  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Report Abuse  •</a></li>
            </ul>
            <ul class="footer-list footer-list_neutronmail">
                <li class="footer-list__item footer-list__item_subtitle">NeutronMail</li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Pricing  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Security  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Shop  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Press/Media Kit  •</a></li>
                <li class="footer-list__item"><a class="footer-list__link" href="">Onion Site  •</a></li>
            </ul>
            <div class="footer-list footer-list_social">
                <ul class="footer-list-social">
                    <li class="footer-list-social__item"><a class="footer-list-social__link" href="">Facebook</a></li>
                    <li class="footer-list-social__item"><a class="footer-list-social__link" href="">Twitter</a></li>
                    <li class="footer-list-social__item"><a class="footer-list-social__link" href="">Google+</a></li>
                    <li class="footer-list-social__item"><a class="footer-list-social__link" href="">Feedback Forum</a></li>
                    <li class="footer-list-social__item"><a class="footer-list-social__link" href="">Reddit</a></li>
                </ul>
                <p class="footer-list__description">© 2017 Neutron Technologies AG. All Rights Reserved.</p>
            </div>
        </div>
        font-family: "Titillium Web - Semi Bold";
        font-family: "Titillium Web Semi Bold";

        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/all.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    </body>
</html>
